# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @sonarsource/platform-eng-xp-squad

# Protect the CODEOWNERS file itself
.github/CODEOWNERS @sonarsource/platform-eng-xp-squad
