[[source]]
url = "https://${ARTIFACTORY_USERNAME}:${ARTIFACTORY_ACCESS_TOKEN}@repox.jfrog.io/artifactory/api/pypi/sonarsource-pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
requests = "*"
polling = "*"
slack_sdk = "*"
boto3 = "*"
dryable = "*"
parameterized = "*"
github-action-utils = "*"

[requires]
python_version = "3.14"

[scripts]
releasability = "python3 src/main.py"
