name: Build
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: Build
    runs-on: github-ubuntu-latest-s
    permissions:
      id-token: write
      contents: read
    steps:
      - id: secrets
        uses: SonarSource/vault-action-wrapper@d6d745ffdbc82b040df839b903bc33b5592cd6b0 # 3.0.2
        with:
          secrets: |
            development/kv/data/sonarcloud token | sonarcloud_token;
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip pipenv
          pipenv install --dev
      - name: Run tests and generate coverage
        run: |
          mkdir -p build
          pipenv run pytest --cov=src --cov-report xml:build/coverage.xml --cov-report term
          cd releasability-status
          pipenv install --dev
          pipenv run pytest --cov=src --cov-report xml:../build/coverage-status.xml --cov-report term
          cd ..
      - name: Prepare coverage for SonarCloud
        run: |
          sed -i "s|<source>${GITHUB_WORKSPACE}/src|<source>src|g" "${GITHUB_WORKSPACE}/build/coverage.xml"
          sed -i "s|<source>${GITHUB_WORKSPACE}|<source>|g" "${GITHUB_WORKSPACE}/build/coverage.xml"
          sed -i "s|<source>${GITHUB_WORKSPACE}/releasability-status/src|<source>releasability-status/src|g" "${GITHUB_WORKSPACE}/build/coverage-status.xml"
          sed -i "s|<source>${GITHUB_WORKSPACE}/releasability-status|<source>releasability-status|g" "${GITHUB_WORKSPACE}/build/coverage-status.xml"
          chmod 644 build/coverage*.xml
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).sonarcloud_token }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
