name: Execute releasability checks

on:
  workflow_dispatch:
    inputs:
      organization:
        description: "GitHub organization"
        required: true
        default: "SonarSource"
        type: choice
        options:
          - SonarSource
      repository:
        description: "GitHub repository"
        required: true
      branch:
        description: "Branch"
        default: "master"
        required: true
      version:
        description: "The version to check"
        required: true
      commit-sha:
        description: "Commit SHA"
        required: true
      releasabily-env:
        description: "For development purposes, the environment to use. Defaults to production."
        required: false
        default: prod
        type: choice
        options:
          - prod
          - staging
          - dev

jobs:
  trigger_releasability_checks:
    runs-on: github-ubuntu-latest-s
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Trigger releasability checks
        uses: ./
        with:
          organization: ${{ github.event.inputs.organization }}
          repository: ${{ github.event.inputs.repository }}
          branch: ${{ github.event.inputs.branch }}
          version: ${{ github.event.inputs.version }}
          commit-sha: ${{ github.event.inputs.commit-sha }}
          releasabily-env: ${{ github.event.inputs.releasabily-env }}
